@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="sixteen columns">

        <div id="pageName">
            <div class="name_tag">
                <p><a href="@Url.Action("Index","Home")">TRANG CHỦ </a> >> GIỚI THIỆU </p>
                <div class="shapLeft"></div>
                <div class="shapRight"></div>
            </div>
        </div><!--end pageName-->

    </div>
</div><!-- container -->
<!-- strat the main content area -->

<div class="container">

    <div class="sixteen columns">
        <div class="box_head">
            <h3>Thật Tốt Khi Bạn Biết Đến Chúng Tôi</h3>
        </div><!--end box_head -->

        <div class="seven columns alpha">
            <div class="welcome_img">
                <img src="/Content/Main/Images/welcome2.jpg" alt="Alternate Text" />
            </div>
        </div><!--end four-->

        <div class="nine columns omega">
            <div class="welcome_text">
                <h2>Về Chúng Tôi</h2>
                <p>
                    Cửa hàng thể thao SHOPLOOP được thành lập từ năm 2021, chuyên kinh doanh lĩnh vực thể thao . Chúng tôi đang phấn đấu để trở thành địa chỉ tin cậy và tiên phong trong lĩnh vực cung cấp các sản phẩm thể thao đến với khách hàng. Hợp tác kinh doanh hiệu quả với nhiều hãng hàng thể thao lớn trên thế giới như Adidas, Nikes, Puma... Để mang đến cho khách hàng sự thoải mái lựa chọn, cung cấp đầy đủ thông tin sản phẩm và nhu cầu mua hàng online trên phạm vi cả nước.
                   
                </p>
                <p>
                    Sứ mệnh của chúng tôi là điều thúc đẩy chúng tôi làm mọi thứ có thể để mở rộng tiềm năng của con người. Chúng tôi làm điều đó bằng cách tạo ra những đổi mới thể thao đột phá, bằng cách làm cho các sản phẩm của chúng tôi bền vững hơn, bằng cách xây dựng một đội ngũ sáng tạo và đa dạng trên toàn cầu và bằng cách tạo ra tác động tích cực trong cộng đồng nơi chúng tôi sống và làm việc.
                </p>
            </div>
        </div><!--end fourteen-->
    </div><!--end sixteen-->

    <div class="sixteen columns">
        <div id="tagLine" class="clearfix">
            <div class="twelve columns">
                <h5>
                    Shoploop <span>Cho phép bạn tải lên và bán hàng một cách dễ dàng.</span><br>
              
                </h5>
            </div>
            <div class="three columns">
                <a class="red_btn" href="#">start browsing</a>
            </div>

        </div><!--end tagLine-->
    </div><!--end sixteen-->


    <div class="eight columns">
        <div class="ourTeam">

            <div class="box_head">
                <h3>Meet The Team</h3>
                <div class="pagers center">
                    <a class="prev team_prev" href="#prev">Prev</a>
                    <a class="nxt team_nxt" href="#nxt">Next</a>
                </div>
            </div><!--end box_head -->

            <div class="cycle-slideshow"
                 data-cycle-fx="scrollHorz"
                 data-cycle-timeout=0
                 data-cycle-slides="> ul"
                 data-cycle-prev="div.pagers a.team_prev"
                 data-cycle-next="div.pagers a.team_nxt">

                <ul class="team_show">
                    <li>
                        <div class="img">
                            <img src="/Content/Main/Images/johndoe.jpg" alt="product">
                        </div>
                        <h6>This is: <strong><a href="#">John Doe</a></strong></h6>
                        <ul class="socials">
                            <li><a class="twitter" href="#">twitter</a></li>
                            <li><a class="facebook" href="#">face</a></li>
                            <li><a class="googlep" href="#">google+</a></li>
                            <li><a class="vimeo" href="#">vimeo</a></li>
                            <li><a class="skype" href="#">skype</a></li>
                            <li><a class="linked" href="#">linked</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="img">
                            <img src="/Content/Main/Images/Lingard.jpg" alt="product">
                        </div>
                        <h6>This is: <strong><a href="#">Jesse Lingard</a></strong></h6>
                        <ul class="socials">
                            <li><a class="twitter" href="#">twitter</a></li>
                            <li><a class="facebook" href="#">face</a></li>
                            <li><a class="googlep" href="#">google+</a></li>
                            <li><a class="vimeo" href="#">vimeo</a></li>
                            <li><a class="skype" href="#">skype</a></li>
                            <li><a class="linked" href="#">linked</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="product_show">
                    <li>
                        <div class="img">
                            <img src="/Content/Main/Images/Naldo.jpg" alt="product">
                        </div>
                        <h6>This is: <strong><a href="#">Naldo</a></strong></h6>
                        <ul class="socials">
                            <li><a class="twitter" href="#">twitter</a></li>
                            <li><a class="facebook" href="#">face</a></li>
                            <li><a class="googlep" href="#">google+</a></li>
                            <li><a class="vimeo" href="#">vimeo</a></li>
                            <li><a class="skype" href="#">skype</a></li>
                            <li><a class="linked" href="#">linked</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="img">
                            <img src="/Content/Main/Images/pepe.jpg" alt="product">
                        </div>
                        <h6>This is: <strong><a href="#">Pepe</a></strong></h6>
                        <ul class="socials">
                            <li><a class="twitter" href="#">twitter</a></li>
                            <li><a class="facebook" href="#">face</a></li>
                            <li><a class="googlep" href="#">google+</a></li>
                            <li><a class="vimeo" href="#">vimeo</a></li>
                            <li><a class="skype" href="#">skype</a></li>
                            <li><a class="linked" href="#">linked</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div><!--end latest-->
    </div><!--end eight-->


    <div class="eight columns">

        <div id="testimonial" class="seven columns omega">
            <div class="box_head">
                <h3>Clients Say</h3>
            </div>

            <div id="tab_outer">

                <ul id="tabNav">
                    <li>
                        <a href="#client_1">
                            <img src="images/photos/thumbnail.jpg" alt="">
                        </a>
                    </li>
                    <li class="currentTestimonial">
                        <a href="#client_2">
                            <img src="images/photos/thumbnail.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#client_3">
                            <img src="images/photos/thumbnail.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#client_4">
                            <img src="images/photos/thumbnail.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#client_5">
                            <img src="images/photos/thumbnail.jpg" alt="">
                        </a>
                    </li>
                </ul>

                <div id="client_1">
                    @*<h6>This is amizing Template in very Long Title.</h6>*@
                    <p>Bạn có thể không dành nhiều sự quan tâm tới việc lựa chọn những đôi giày. Nhiều phụ nữ cũng có thể giống như bạn, cho rằng giày dép không quan trọng, nhưng thực tế đã chứng minh sự thanh lịch của phụ nữ phụ thuộc vào những gì ngự trên đôi bàn chân họ</p>
                    <span>Written by : <a href="#">Christian Dior</a></span>
                </div>

                <div id="client_2">
                    @*<h6>Nice eCommerce Out there.</h6>*@
                    <p>Mang những đôi giày với ý tưởng điên rồ thật tuyệt! Bạn sẽ cảm thấy mình tự do, phóng khoáng mà không trở nên quá ngu ngốc. Nhưng cũng với những thứ điên rồ ấy, nếu nó ở quá gần khuôn mặt bạn thì lại khác, thật kỳ quặc!</p>
                    <span>Written By: <a href="#">Miuccia Prada</a></span>
                </div>

                <div id="client_3">
                    <h6>Thanks To make my life match easier.</h6>
                    <p>Nam bibendum condimentum turpis pharetra cursus. Fusce tortor tortor, placerat ac cursus eget, laoreet id odio. Integer dui metus, vulputate at congue adipiscing, accumsan ornare neque. Nam et lacus neque. Sed volutpat ante id mauris laoreet vestibulum.</p>
                    <span>Written By: <a href="#">John Smith</a></span>
                </div>

                <div id="client_4">
                    <h6>The best one at all.</h6>
                    <p>Aliquam eleifend, magna sit amet convallis fringilla, lectus erat viverra diam, volutpat accumsan sem ligula sit amet ipsum. Morbi quis est in ante volutpat bibendum vitae at ante. Nulla ligula nisl. Nam et lacus neque. Sed volutpat ante id mauris laoreet vestibulum.</p>
                    <span>Written By: <a href="#">John Smith</a></span>
                </div>

                <div id="client_5">
                    <h6>And another Testminal with very long title.</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Sed volutpat ante id mauris laoreet vestibulum. Nam et lacus neque. Sed volutpat ante id mauris laoreet vestibulum.</p>
                    <span>Written By: <a href="#">John Smith</a></span>
                </div>

            </div><!--end tabOuter-->
        </div><!--end testimonial-->

    </div><!--end eight-->


    <div class="sixteen columns">
        <div class="brands">

            <div class="box_head">
                <h3>brands</h3>
                <div class="pagers center">
                    <a class="prev brand_prev" href="#prev">Prev</a>
                    <a class="nxt brand_nxt" href="#nxt">Next</a>
                </div>
            </div><!--end box_head -->

            <div class="brandOuter">
                <ul>
                    <li>
                        <a href="#">
                            <img src="../Content/Main/Images/brands/logo_adidas-130x130.jpg" alt="brand">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Content/Main/Images/brands/logo_asics-130x130.jpg" alt="brand">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Content/Main/Images/brands/logo_conv-130x130.jpg" alt="brand">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Content/Main/Images/brands/logo_nike-130x130.jpg" alt="brand">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Content/Main/Images/brands/logo_puma-130x130.jpg" alt="brand">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Content/Main/Images/brands/logo_rbk-130x130.jpg" alt="brand">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Content/Main/Images/brands/logo_nike-130x130.jpg" alt="brand">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../Content/Main/Images/brands/logo_asics-130x130.jpg" alt="brand">
                        </a>
                    </li>
                </ul>
            </div>
        </div><!--end brands-->
    </div><!--end sixteen-->


</div><!--end container-->
<!-- end the main content area -->
