@{
    ViewBag.Title = "HD_MuaHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h2 style="margin: 10px 0 0 0">CÁCH MUA HÀNG TRÊN WEBSITE</h2>
</center>


<div style="margin: 10px 0 0 10px; font-size: 150%">
    <p>
        Không cần trực tiếp đến siêu thị mua hàng, bạn có thể lựa chọn cách mua hàng online bằng các bước sau:
    </p>
    <p>
        Bước 1: Tìm sản phẩm cần mua
    </p>
    <p>
        Bước 2: Đặt mua sản phẩm
    </p>
</div>
