
<div id="topHeader">
    <div class="container">
        <div class="sixteen columns">
            <ul id="lang">
                <li class="active_lang"><a href="#">VI</a></li>
                <li><a href="#">EN</a></li>
            </ul>
          @Html.Partial("_LoginPartial")
                   
        </div><!--end sixteen-->
    </div><!--end container-->
</div><!--end topHeader-->


<div id="middleHeader">
    <div class="container">
        <div class="sixteen columns">
            <div id="logo">
                <h1><a href="index.html">logo</a></h1>
            </div><!--end logo-->
            <form class="form-wrapper cf" method="post" accept-charset="utf-8">
                <input type="text" placeholder="Nhập sản phầm bạn muốn tìm..." required>
                <button type="submit" name="Sumit">Search</button>
            </form>
        </div><!--end sixteen-->
    </div><!--end container-->
</div><!--end middleHeader-->

